
AirportExplorer/.vs/AirportExplorer/v15/Server/sqlite3/db.lock
AirportExplorer/.vs/AirportExplorer/v15/Server/sqlite3/storage.ide
AirportExplorer/.vs/AirportExplorer/v15/Server/sqlite3/storage.ide-shm
AirportExplorer/.vs/AirportExplorer/v15/Server/sqlite3/storage.ide-wal
